@import url("https://fonts.googleapis.com/css2?family=Anton&family=Dancing+Script:wght@700&family=Kanit&family=Roboto+Slab&display=swap");
*, *::after, *::before {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  text-align: center;
}

#nav a {
  font-family: "Roboto Slab", sans-serif;
}

span, h1 {
  font-family: "Dancing Script", sans-serif;
}

h2 {
  font-family: "Kanit", sans-serif;
  text-transform: uppercase;
}

h3 {
  font-family: "Kanit", sans-serif;
}

p {
  font-family: "Roboto Slab", sans-serif;
}

label {
  font-family: "Anton", sans-serif;
}

#nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 10px 25px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

#nav span {
  font-size: 1.5rem;
  margin: 0;
}

#nav #nav__bar {
  font-size: 30px;
  color: #dee8f0;
}

#nav #nav__links {
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  top: 50px;
  width: 100%;
  left: 0;
}

#nav #nav__links ul {
  padding: 0;
  width: 100%;
  flex-direction: column;
}

#nav #nav__links ul li {
  list-style: none;
  padding: 0;
}

#nav #nav__links ul li a {
  display: flex;
  justify-content: center;
  padding: 30px 0;
  background-color: #273748;
  color: #dee8f0;
  text-decoration: none;
  font-size: 1.2rem;
}

#nav #nav__links ul li a:hover {
  background-color: #dee8f0;
  color: #273748;
  text-decoration: underline;
}

#nav #nav__button #nav__bar {
  width: 30px;
  height: 6px;
  margin: 5px;
  display: flex;
  background-color: #dee8f0;
  border-radius: 10px;
}

@media (min-width: 700px) {
  #nav__links {
    position: static !important;
    width: max-content !important;
  }
  #nav__links ul {
    display: flex !important;
    flex-direction: row !important;
    width: max-content !important;
  }
  #nav__links ul li a {
    padding: 10px !important;
    display: flex;
    background-color: black !important;
    font-size: 1.4rem !important;
  }
  #nav__links ul li a:hover {
    color: white !important;
  }
  #nav__button {
    display: none;
  }
  #nav {
    padding: 0px 25px !important;
  }
}

header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  min-height: 100vh;
  padding: 0 60px;
  color: white;
  position: relative;
  background-image: url(../../src/pexels-luis-miguel-p-bonilla-3583877.webp);
  background-size: contain;
}

header .header__info {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

header span {
  margin-top: 50px;
  font-size: 6em;
  text-align: center;
}

header img {
  height: 30vh;
  width: 30vh;
}

header p {
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
  padding-top: 30px;
}

@media (max-width: 599px) {
  .header {
    padding: 0 5em;
    background-image: url("../../src/pexels-eunice-lui-4151043.webp");
    height: max-content !important;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .header .header__info {
    display: flex;
    width: 100% !important;
    justify-content: stretch !important;
    align-items: stretch !important;
  }
  .header .header__info span {
    font-size: 3em;
  }
}

#about {
  padding: 40px 10em;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 100vh;
  background-image: url(../../src/pexels-pepe-caspers-5411700.webp);
  background-size: cover;
  background-position: center;
}

#about h2 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 1.4em !important;
}

#about p {
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.4;
}

@media (max-width: 599px) {
  #about {
    padding: 20px 5em;
  }
  #about p {
    font-size: 1rem !important;
  }
}

.work {
  padding: 60px 40px;
  background-color: black;
  color: white;
}

.work p {
  font-size: 1.5rem;
  text-align: center;
}

.work .left, .work .center, .work .right {
  margin-top: 50px;
}

.sample-image {
  border-top: 30px solid #ddb6b6 !important;
  border: 10px solid #ddb6b6;
  border-radius: 10px;
  position: relative;
  height: 34vh;
  flex-wrap: wrap;
}

.sample-image img {
  display: flex;
  position: relative;
}

.sample-image .image {
  height: 100%;
  overflow: clip;
}

.sample-image .image img:hover {
  animation-name: image-move;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.sample-image .three-buttons {
  display: flex;
  flex-direction: row;
  position: absolute;
  z-index: 2;
  top: -20px;
  left: -4px;
}

.sample-image .three-buttons .circle {
  width: 10px;
  height: 10px;
  border: 1px white solid;
  display: flex;
  margin: 5px;
  border-radius: 50%;
  background-color: green;
}

.sample-image .three-buttons .circle__green {
  background-color: green;
}

.sample-image .three-buttons .circle__yellow {
  background-color: yellow;
}

.sample-image .three-buttons .circle__green {
  background-color: red;
}

@media (min-width: 901px) {
  .work__sections {
    display: flex;
    flex-direction: row;
  }
  .work__sections .left, .work__sections .right, .work__sections .center {
    width: 33%;
    padding: 10px 40px;
  }
}

@media (max-width: 900px) and (min-width: 700px) {
  .work__sections {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
  }
  .work__sections .left, .work__sections .center {
    width: 50%;
    padding: 0 40px;
  }
  .work__sections .right {
    width: 100%;
    padding: 0 70px;
  }
}

@keyframes image-move {
  0% {
    top: 0%;
  }
  25% {
    top: -100%;
  }
  50% {
    top: -200%;
  }
  75% {
    top: -300%;
  }
  100% {
    top: -400%;
  }
}

.contact {
  padding: 70px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../../src/pexels-nicolas-postiglioni-421129.webp);
  background-size: cover;
  color: white;
}

.contact p {
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.4;
  padding-bottom: 30px;
}

.contact .form {
  background-size: contain;
  max-width: 50vw;
  padding: 20px;
  border: 3px solid #333;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: black;
  border-color: white;
}

.contact .form p {
  font-size: 1.4rem;
}

.contact .form p label {
  display: flex;
  flex-direction: column;
  color: white;
}

.contact .form p label input {
  padding: 10px;
}

.contact .form p button {
  width: 100%;
  padding: 10px;
  font-size: 1.5rem;
  border-radius: 10px;
}

@media (max-width: 599px) {
  .form {
    max-width: 70vw !important;
  }
  .contact {
    background-position: center;
  }
}

footer {
  background-color: black;
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

footer span {
  color: white;
  font-size: 1.7em;
}

footer img {
  height: 40px;
  color: white;
  padding: 6px;
  border-radius: 10px;
  background-color: white;
}
/*# sourceMappingURL=main.css.map */