@import url('https://fonts.googleapis.com/css2?family=Anton&family=Dancing+Script:wght@700&family=Kanit&family=Roboto+Slab&display=swap');
h1{
    text-align: center;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    font-family: 'Dancing Script', sans-serif;
    background-image: url(../src/pexels-san-engineer-1935370.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    height: 100vh;
}
img{
    height: 50vh;
    width: 50vh;
}

button{
    margin-top: 40px;
    padding: 10px 20px;
    font-size: 1.4rem;
    border-radius: 20px;
    border: blue 3px solid;
    background-color: transparent;
    color: white;
}

button:hover{
    background-color: blue;
    color: white;
    text-decoration: underline;
}