.sample-image{
    border-top: 30px solid rgb(221, 182, 182) !important;
    border: 10px solid rgb(221, 182, 182);
    border-radius: 10px;
    position: relative;
    height: 34vh;
    flex-wrap: wrap;
    img{
        display: flex;
        position: relative;
    }
    .image{
        height: 100%;
        overflow: clip;
        img{
            &:hover{
                animation-name: image-move;
                animation-duration: 5s;
                animation-iteration-count: infinite;
                animation-timing-function: ease-in-out;
            }
        }
    }

    
    .three-buttons{
        display: flex;
        flex-direction: row;
        position: absolute;
        z-index: 2;
        top: -20px;
        left: -4px;
        .circle{
            width: 10px;
            height: 10px;
            border: 1px white solid;
            display: flex;
            margin: 5px;
            border-radius: 50%;
            background-color: green;
        }
        .circle__green{
            background-color: green;
        }
        .circle__yellow{
            background-color: yellow;
        }
        .circle__green{
            background-color: red;
        }
        
    }
}
@media (min-width: 901px) {
    .work__sections{
        display: flex;
        flex-direction: row;
        .left, .right, .center{
            width: 33%;
            padding: 10px 40px;
        }
    }
}
@media (max-width: 900px) and (min-width: 700px) {
    .work__sections{
        flex-wrap: wrap;
        display: flex;
        flex-direction: row;
        .left, .center{
            width: 50%;
            padding: 0 40px;
        }
        .right{
            width: 100%;
            padding: 0 70px;
        }
    }
}

@keyframes image-move {
    0% {
        top: 0%;
    }

    25% {
        top: -100%;
    }

    50% {
        top: -200%;
    }
    75%{
        top: -300%;
    }
    100%{
        top: -400%;
    }


}