.sample-image{
    border-top: 30px solid rgb(221, 182, 182) !important;
    border: 10px solid rgb(221, 182, 182);
    border-radius: 10px;
    position: relative;
    height: 40vh;
    img{
        display: flex;
    }
    .image{
        height: 100%;
        overflow: hidden;
        .img:hover{
            animation-name: top-move;
            animation-duration: 9s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
        }
    }
    
    .three-buttons{
        display: flex;
        flex-direction: row;
        position: absolute;
        z-index: 2;
        top: -20px;
        left: -4px;
        .circle{
            width: 10px;
            height: 10px;
            border: 1px white solid;
            display: flex;
            margin: 5px;
            border-radius: 50%;
            background-color: green;
        }
        .circle__green{
            background-color: green;
        }
        .circle__yellow{
            background-color: yellow;
        }
        .circle__green{
            background-color: red;
        }
        
    }
}

@keyframes top-move {
    0%{
        position: relative;
        top: 0;
    }
    25%{
        position: relative;
        top: -100%;
    }
    50%{
        position: relative;
        top: -200%;
    }
    75%{
        position: relative;
        top: -300%;
    }
    100%{
        position: relative;
        top: -400%;
    }
}
@media (min-width: 700px) {
    .work__sections{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        .left, .right, .center{
            width: 33%;
            padding: 10px 40px;
        }
    }
}