@import '../utils/variables';

*, *::after, *::before{
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
}